@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #121212;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  @apply text-white;
}
p {
  color: #94a1b2;
}

.dropdown-link {
  @apply flex p-2 hover:rounded-sm;
}

.dropdown-link:hover {
  @apply bg-zinc-800/70;
}

.menu-content {
  background: rgba(22, 22, 26, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: none;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.navbar {
  @apply shadow-md;
  z-index: 1;
  background: rgba(22, 22, 26, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: none;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.rightCSS {
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(50% + var(--offset));
  --move-final: calc(-120% + var(--offset));
}
.rightCSS div {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: visible;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  animation: CSSright linear 40s infinite;
  transition: all 0.5s ease-in-out 0s;
}
.rightCSS div p {
  padding: 5px 20px;
  font-size: 30px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

@keyframes CSSright {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
.rightCSS:hover div {
  animation-play-state: paused;
}

@media (max-width: 575.98px) {
  .rightCSS {
    --move-initial: calc(1% + var(--offset));
    --move-final: calc(-105% + var(--offset));
  }
  .rightCSS div p {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .rightCSS {
    --move-initial: calc(30% + var(--offset));
    --move-final: calc(-105% + var(--offset));
  }
  .rightCSS div p {
    font-size: 25px;
  }
}

@media (max-width: 991.98px) {
  .rightCSS {
    --move-initial: calc(35% + var(--offset));
    --move-final: calc(-110% + var(--offset));
  }
}
