@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #121212;
  @apply scroll-smooth text-white;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  @apply text-white;
}
p {
  color: #94a1b2;
}

.dropdown-link {
  @apply flex p-2 hover:rounded-sm;
}

.dropdown-link:hover {
  @apply bg-zinc-800/70;
}

.menu-content {
  background: rgba(22, 22, 26, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: none;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.navbar {
  z-index: 1;
  background: rgba(197, 197, 197, 0.1);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  border: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.dropdown-link {
  @apply items-center justify-center;
}

.skill:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
  transition: 0.3s ease-in-out;
}

.skill {
  cursor: pointer;
  padding: 5px 20px;
  font-size: clamp(26px, 5vw, 33px);
  font-weight: bold;
  color: white;
  -webkit-text-stroke: none;
  width: fit-content;
  text-overflow: ellipsis;
  overflow: visible;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.layer {
  --background: #ffffff;
  --color: rgb(255, 255, 255);
  --height: 4em;
  --width: 4em;
  --fade-stop: 80%;
  --offset: -100px;

  width: calc(100% + var(--offset));
  height: var(--height);
  left: calc(var(--offset) / 2 * -1);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(
      to left,
      var(--background) var(--fade-stop),
      transparent
    ),
    linear-gradient(to right, var(--background) var(--fade-stop), transparent),
    linear-gradient(black, black);
}

@media (max-width: 300px) {
  body {
    display: none;
  }
}

section:first-of-type {
  overflow: hidden;
  right: 0;
  top: 25px;
  position: absolute;
  color: white;
  min-height: 150px;
  height: calc(2 * var(--buffer));
  /* aspect-ratio: 1; */
  display: flex;
  place-items: center;
}

section:last-of-type {
  display: grid;
  gap: 2rem;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.marquee {
  font-size: clamp(2rem, 2.5vw, 4rem);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  width: 100%;
}

.marquee__text {
  overflow: hidden;
  pointer-events: none;
}

.marquee__line {
  display: flex;
  position: relative;

  &:nth-child(2) {
    justify-content: flex-end;
    z-index: 1;
  }
}

.marquee__sentence {
  padding-right: 30px;
  white-space: nowrap;
}

/* .swiper {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
} */

/* .swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
} */

.gridLine {
  --background: #ffffff;
  --color: rgba(255, 255, 255, 0.5);
  --height: 1px;
  --width: 5px;
  --fade-stop: 90%;
  /* Bleed in or out from the container */
  --offset: -100px;

  position: absolute;
  width: calc(100% + var(--offset));
  height: var(--height);
  left: calc(var(--offset) / 2 * -1);

  background: linear-gradient(
    to right,
    var(--color),
    var(--color) 50%,
    transparent 0,
    transparent
  );
  background-size: var(--width) var(--height);

  /* Fade out the edges */
  mask-composite: exclude;
  -webkit-mask: linear-gradient(
      to left,
      var(--background) var(--fade-stop),
      transparent
    ),
    linear-gradient(to right, var(--background) var(--fade-stop), transparent),
    linear-gradient(black, black);
}
